<% if(locals.user) { %>
<form id="new-post-form">
  <textarea
    name="content"
    cols="30"
    rows="3"
    placeholder="Start writing here..."
    required
  ></textarea>
  <input type="submit" value="Post" />
</form>
<% } %>
