<h1>social / <%= title %></h1>

<section id="feed-posts">
  <h4>Posts</h4>
  <form action="/posts/create" id="new-post-form" method="POST">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Start writing here..."
    ></textarea>
    <input type="submit" value="Post" />
  </form>
  <div id="post-list">
    <% for(let i of posts) { %>
    <div>
      <%= i.content %>
      <small><%= i.user %></small>
    </div>
    <% } %>
  </div>
</section>
