<div>
  <h1>The reset password link is sent to your registered email id.</h1>
  <form action="/users/reset-password-2" method="post">
    <input type="password" name="otp" />
    <input type="submit" value="Varify" />
  </form>
</div>
