#home-container{
    display: flex;
    justify-content: space-evenly;
    #feed-posts{
        width: 70%;
        padding: 10%;
        border-right: 1px solid black;
    }
    .user-friend{
        width: 30%;
        padding: 5%;
    }
}